

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>Agregar equipo</title>
<link href="~/Content/login.css" rel="stylesheet" />
<div class="row login">


    <div class="card-panel blue lighten-5">
        <h5>Agregar equipo</h5>
        <div class="row">
            <div class="input-field col s12">

                <input id="nombreComercial" type="text" data-length="20">
                <label for="nombreComercial">Nombre del equipo </label>
            </div>
        </div>



        <div class="row">
            <div class="input-field col s12">

                <textarea id="notas" class="materialize-textarea" data-length="150"></textarea>
                <label for="notas">Descripción</label>
            </div>
        </div>



        <div class="row">
            <div class="input-field col s12">
                <select>
                    <option value="" disabled selected>Selecciona una opción</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
                <label>Tipo</label>
            </div>
        </div>




            <div class="row" style="position:center;">
                <a class="waves-effect green lighten-2 btn text-darken-3 col s12 " style="position:center"> <i class="fa fa-plus-square red-text text-lighten-2"></i> Agregar nuevo equipo</a>

            </div>
        </div>


 </div>





