

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>Agregar equipo</title>
<link href="~/Content/login.css" rel="stylesheet" />
<div class="row equipo">



    <div class="row">
        <div class="input-field col s12">
            <input id="correo" type="email" class="validate">
            <label for="correo"> <i class="fa fa-envelope"></i> Correo eléctronico</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
            <input id="contraseña" type="password" class="validate">
            <label for="contraseña"><i class="fa fa-lock"></i> Contraseña</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">

            <input id="nombreComercial" type="text" data-length="10">
            <label for="nombreComercial">Nombre comercial </label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s6">

            <input id="ciudad" type="text" data-length="10">
            <label for="ciudad">Ciudad </label>
        </div>
        <div class="input-field col s6">

            <input id="estado" type="text" data-length="10">
            <label for="estado">Estado </label>
        </div>
    </div>


    <div class="row">
        <div class="input-field col s6">

            <input id="colonia" type="text" data-length="10">
            <label for="colonia">Colonia </label>
        </div>
        <div class="input-field col s6">

            <input id="codigoPostal" type="text" data-length="10">
            <label for="codigoPostal">Código postal</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">

            <textarea id="notas" class="materialize-textarea" data-length="120"></textarea>
            <label for="notas">Notas</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s6">

            <input id="latitud" type="text" data-length="10">
            <label for="latitud">Latitud</label>
        </div>
        <div class="input-field col s6">

            <input id="longitud" type="text" data-length="10">
            <label for="longitud">Longitud</label>
        </div>
    </div>


    <div class="row">
        <div class="input-field col s6">

            <h6>Ingrese la ubicación</h6>
            <gmap-autocomplete @@place_changed="setPlace">
            </gmap-autocomplete>

            <label style="margin-top:6em;">

                <a class="waves-effect waves-effect green lighten-2 btn text-darken-3" @@click="addMarker"><i class="fa fa-plus-circle"></i> Agregar </a>
            </label>
        </div>
        <div class="input-field col s6">


            <gmap-map center="center" zoom="12" style="width:100%; height: 250px; margin:5%;">

            </gmap-map>
        </div>
    </div>






    <div class="row" style="position:center;">
        <a class="waves-effect green lighten-2 btn text-darken-3 col s12 " style="position:center"> <i class="fa fa-heartbeat red-text text-lighten-2"></i> Registrarse</a>

    </div>


</div>





