@{
    ViewBag.Title = "Home Page";
}



<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center teal-text text-lighten-2">Tec-ludable</h1>
            <div class="row center">
                <h5 class="header col s12 light black-text">Mejoramos la calidad de vida </h5>
            </div>
            <div class="row center">
                
                <a  id="download-button" href="@Url.Action("Login","Home")" class="btn-large waves-effect waves-light teal lighten-1">Entrar</a>
            </div>
            <br><br>
        </div>
    </div>
    
    <div class="parallax"><img src="~/Content/img/daniel-frank-201417-unsplash.jpg" alt="Unsplashed background img 1"></div>
</div>




<div class="container">
    <div  class="section figura">
        <!--   Icon Section   -->
        <div class="row">
            <div  class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center red-text text-lighten-2"><i class="fa fa-hospital-o"></i></h2>
                    <h5 class="center">Comparte</h5>
                    <p class="light">Comparte tu equipo medico disponible para que pueda ser utilizado por otros hospitales</p>
                </div>
            </div>
            <div  class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center red-text text-lighten-2 "><i class="fa fa-stethoscope"></i></h2>
                    <h5 class="center">Acceso</h5>
                    <p class="light">Ten acceso a equipo médico de alta calidad sin necesidad de hacer grandes inversiones de recursos humanos y financieros.</p>
                </div>
            </div>
            <div  class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center red-text text-lighten-2"><i class="fa fa-heart"></i></h2>
                    <h5 class="center">Salva vidas</h5>
                    <p class="light"> Al compartir tu equipo disponible estarás salvado vidas de personas que lo necesitan</p>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot figura">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">Ponte en contacto con diferentes hospitales para realizar estudios especializados sin adquirir el equipo permanentemente y evitando un considerable inversión.</h5>
            </div>
        </div>
    </div>

    

    <div class="parallax"><img src="~/Content/img/marcel-scholte-524343-unsplash.jpg"></div>
</div>
<div class="container">
    <div class="section figura">
        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <!----h4>Contact Us</!--h4-->
                <p class="left-align light" style="position:center;">
                    Al utilizar esta aplicacion los usuarios de pequeños laboratorios y centros de salud pueden acceder a equipo médico de alta calidad y que resuelva necesidades específicas en situaciones de riesgo criticas para el diagnóstico y tratamiento de pacientes 

                </p>
            </div>
        </div>
    </div>
</div>

<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot figura">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 black-text">Obten acceso equipo médico para resolver situaciones inesperadas y comparte el tuyo para apoyar a centros de salud con necesidad.</h5>
            </div>
        </div>
    </div>

   
    <div class="parallax"><img src="~/Content/img/medic-563423_1920.jpg" alt="Unsplashed background img 3"></div>
</div>

