
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <title>Login</title>

 
    <link href="~/Content/login.css" rel="stylesheet" />

    <div class="row login">
        <form class="col s12 ">

            <div class="row ">
                
                
                <div class="input-field col s12">
                    
                    <input id="email" type="email" class="validate">

                    <label for="email"><i class="fa fa-user"></i> Email </label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" class="validate">
                    <label for="password"> <i class="fa fa-lock"></i> Password</label>
                </div>
            </div>
            <div class="row" style="position:center;">
                <a v-on:click="login" class="waves-effect green lighten-2 btn text-darken-3 col s12 " style="position:center"> <i class="fa fa-heartbeat red-text text-lighten-2"></i> Entrar</a>
                <br />
                <br />
                 <br />
                <a href="" class="col s12">Registrarse</a>
             </div>

</form>
    </div>


