
@{
    ViewBag.Title = "MapaDeBusqueda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container">
        <h2>Mapa De Busqueda</h2>
        <div>
            <h2>Search and add a pin</h2>
            <label>
                <gmap-autocomplete @@place_changed="setPlace">
                </gmap-autocomplete>
                <a class="waves-effect waves-effect btn" @@click="addMarker"><i class="fa fa-plus-circle"></i>Add</a>
            </label>
            <br />

        </div>
        <br>
        <gmap-map :center="center" :zoom="12" style="width: 60%; height: 300px">

        </gmap-map>
    </div>