
@{
    ViewBag.Title = "Busqueda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="subcontainer">
        <h2>Mapa De Busqueda</h2>
        <div>
            <h2>Busca ubicaciones específicas</h2>
            <label class="col s6 m6 l6">
                <gmap-autocomplete  default-place="Mexico" @@place_changed="setPlace">
                </gmap-autocomplete>
                <a class="waves-effect waves-effect btn" @@click="addMarker"><i class="fa fa-plus-circle"></i>Add</a>
            </label>
            <br />

        </div>
        <br>
        <div class="row">
            <div class=" col s12">
                <gmap-map class="col s6" :center="center" :zoom="MapZoom" style="height: 300px; margin-right:15px;">
                    @*<gmap-marker :key="index"
                                 v-for="(m, index) in markers"
                                 :position="m.position"
                                 @@click="center=m.position"></gmap-marker>*@

                </gmap-map>
                <table class="highlight hand col s5">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Item Name</th>
                            <th>Item Price</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Alvin</td>
                            <td>Eclair</td>
                            <td>$0.87</td>
                        </tr>
                        <tr>
                            <td>Alan</td>
                            <td>Jellybean</td>
                            <td>$3.76</td>
                        </tr>
                        <tr>
                            <td>Jonathan</td>
                            <td>Lollipop</td>
                            <td>$7.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>