

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>Mis ordenes</title>
<link href="~/Content/login.css" rel="stylesheet" />
<div class="row login">


    
        <h5>Ordenes</h5>
        <div class="row">
            <table>
                <thead>
                    <tr>
                        <th>Prestador</th>
                        <th>Solicitante</th>
                        <th>Estatus</th>
                        <th>Fecha</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Jesus</td>
                        <td>Kass</td>
                        <td>lov</td>
                        <td>27/02/2015</td>
                    </tr>
                   
                </tbody>
            </table>
        </div>




</div>






