

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>Mis ordenes</title>
<link href="~/Content/login.css" rel="stylesheet" />
<div class="row login">


    
        <h5>Ordenes</h5>
        <div class="row">
         


            <ul class="collapsible">
                <li>
                    <div class="collapsible-header" v-on:click="Ordenes"><i class="fa fa-angle-down"></i>First</div>
                    <div class="collapsible-body" ><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fa fa-angle-down"></i>Second</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fa fa-angle-down"></i>Third</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
            </ul>

        </div>




</div>






